{
  "extends": "apptension-react",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "new-cap": [2, { "capIsNewExceptions": ["List", "Map"] }],
    "babel/new-cap": [2, { "capIsNewExceptions": ["List", "Map"] }],
    "redux-saga/yield-effects": 0, // https://github.com/pke/eslint-plugin-redux-saga/issues/15
    "redux-saga/no-unhandled-errors": 0 // https://github.com/pke/eslint-plugin-redux-saga/issues/15
  },
  "settings": {
    "import/core-modules": ["env-config"]
  }
}
